[submodule "forgit"]
	path = cli_modules/forgit
	url = https://github.com/wfxr/forgit
[submodule "bat-extras"]
	path = cli_modules/bat-extras
	url = https://github.com/eth-p/bat-extras.git
[submodule "cli_modules/asdf"]
	path = cli_modules/asdf
	url = https://github.com/asdf-vm/asdf.git
