[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip
[submodule "submodule_tools/forgit"]
	path = submodule_tools/forgit
	url = https://github.com/wfxr/forgit
[submodule "submodule_tools/bat-extras"]
	path = submodule_tools/bat-extras
	url = https://github.com/eth-p/bat-extras.git
[submodule "submodule_tools/zsh-syntax-highlighting"]
	path = submodule_tools/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodule_tools/zsh-git-prompt"]
	path = submodule_tools/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
[submodule "submodule_tools/gibo"]
	path = submodule_tools/gibo
	url = https://github.com/simonwhitaker/gibo
[submodule "submodule_tools/pyenv"]
	path = submodule_tools/pyenv
	url = https://github.com/pyenv/pyenv.git
